streamlit
requests
pandas
Pillow
PyMuPDF
PyPDF2
fastmcp
pyinstaller
streamlit-sortables
lxml
python-docx
docxtpl
beautifulsoup4
markdown
streamlit-extras
geopandas
shapely
openpyxl
simplekml
html2text